<h1>Welcome to myQuote</h1>
<p>If someone said a thing, it'll be here!</p>
<p style="color: green"><%= notice %></p> 
<h3>Most Recent Quotes</h3>
<hr />
<% @quotes.each do |quote| %>
    <% if quote.ispublic? %>
    <div class="card bg-body-teriary" style="margin-bottom:10px">
    <div class="card-body">
        
    <p class="card-text"><%= quote.qtext %></p>
    <p class="card-text"><%= "   -   #{quote.source.fname} #{quote.source.lname}, #{quote.qyear}" %> <br />[<a href="/quotes/<%= quote.id %>">Quote</a>] [<a href="/sources/<%= quote.source.id %>">Source</a>] </p> 
    <% end %>    
    </div>
    </div>
<% end %>