<h1>Welcome to myQuote</h1>
<p>If someone said a thing, it'll be here!</p>

<!-- the home page: it shows the 5 most recent (public) quotes. it checks for a date value in order to format it nicely  -->

<p style="color: green"><%= notice %></p> 
<h3>Most Recent Quotes</h3>
<hr />
<div>
<% @quotes.each do |quote| %>
    <% if quote.ispublic? %>
        <div class="card bg-body-teriary" style="margin-bottom:10px">
            <div class="card-body">
            <% if quote.qyear.nil? || quote.qyear.empty? %>
                <p class="card-text"><%= quote.qtext %></p>
                <p class="card-text"><%= "   -   #{quote.source.fname} #{quote.source.lname}" %> <br />[<a href="/quotes/<%= quote.id %>">Quote</a>] [<a href="/sources/<%= quote.source.id %>">Source</a>] </p> 
            <% else %>
                <p class="card-text"><%= quote.qtext %></p>
                <p class="card-text"><%= "   -   #{quote.source.fname} #{quote.source.lname}, #{quote.qyear}" %> <br />[<a href="/quotes/<%= quote.id %>">Quote</a>] [<a href="/sources/<%= quote.source.id %>">Source</a>] </p> 
            <% end %>
            <% end %>    
            </div>
        </div>
<% end %>
</div>