<h3>Your Quotes</h3>
<p>(well.. The quotes you put up, anyway)</p>
<hr />

<!-- the code below checks whether the quote has a value for qyear for formatting purposes, and then concatinates the names after displaying the quote text -->

<% @quotes.each do |quote| %>
    <div class="card bg-body-teriary" style="margin-bottom:10px">
        <div class="card-body">
            <h4 class="card-title"><%= quote.qtext %></h4>
            <% if quote.qyear.nil? || quote.qyear.empty? %>
                <p class="card-text"><%= "#{quote.source.fname} #{quote.source.lname}" %><br />[<a href="/quotes/<%= quote.id %>">Quote</a>] [<a href="/sources/<%= quote.source.id %>">Source</a>]</p>
            <% else %>
                <p class="card-text"><%= "#{quote.source.fname} #{quote.source.lname}, #{quote.qyear}" %><br />[<a href="/quotes/<%= quote.id %>">Quote</a>] [<a href="/sources/<%= quote.source.id %>">Source</a>]</p>
            <% end %>
        </div>
    </div>
<% end %>